$black: #212222;
$cream-light: #faf3ea;
$cream: #f3eadd;
$cream-dark: #fff9f0;
$cream-darker: #ede1d180;
$cream-darker2: #e4d9c9;
$text-dark-cream: #b9b0b0cc;
$shadow: #b5b5b540;
$gray: #c3c3c3;
$dark-grey: #323232;
$dark-grey-2: #454545;
