@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@import "./mixins";
@import "./variables";

body {
  background: $cream-light;
}

* {
  font-family: Inter, sans-serif;
}

.bg-black {
  background: $black;
}

.bg-cream {
  background: $cream;
}

.bg-cream-dark {
  background: $cream-dark;
}

.bg-cream-darker {
  background: $cream-darker;
}

.bg-cream-darker2 {
  background: $cream-darker2;
}

.bg-cream-light {
  background: $cream-light;
}

.text-body {
  @include text-body;
}

.text-body-2 {
  @include text-body-2;
}

.text-body-2-medium {
  @include text-body-2-medium;
}

.text-title {
  @include text-title;
}

.text-heading {
  @include text-heading;
}

.text-heading-bold {
  @include text-heading-bold;
}

.text-subheading {
  @include text-subheading;
}

.text-subtitle {
  @include text-subtitle;
}

.text-body-light {
  @include text-body-light;
}

.text-big {
  @include text-big;
}
